body {
  background-color: #efe2cf;
  color: #735241;
  font-size: 17px;
  font-family: 'Noto Sans Hanunoo', sans-serif;
}

h1, h2 {
  font-family: 'Playfair Display',serif;
  text-align: center;
}
h1 {
    font-size:36px;
}
h2 {
  font-size: 29px;
}

a {
  font-family: 'Noto Sans Hanunoo', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  transition: color 0,3s ease;
}
a:hover {
  background-color: #efe2cf;
  color:#735241;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




.container {
  width: 1200px ;
  margin: 40px auto;
}

@media (max-width: 1100px) {
  .container {
    width: 1000px;
}
}

@media (max-width: 900px) {
  .container {
    width: 800px;
}
}

@media (max-width: 700px) {
  .container {
    width: 600px;
}
}

@media (max-width: 500px) {
  .container {
    width: 400px;
}
}

.card-design {
  background-color: #fff2df;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;

}



.btn {
  background-color: #735241 ;
  color: #efe2cf;
  padding: 15px 20px;
  border-radius: 5px;
  }

.btn: hover {
  background-color: #efe2cf;
  color:#735241;
  }

.list-inline {
  list-style: none;
  padding-left: 0px;

}


.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 70px;
  color:#735241 ;
}

.list-inline i:hover {
  color:black ;
}
